<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <!-- 최선단 버튼, 홈으로 이동 -->
      <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 하위 버튼 목록 -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- 로그인 하였을 경우 버튼 목록 -->
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main:main' username=request.user.username %}">나의 블로그</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">로그아웃</a>
            </li>
          <!-- 로그인 하지 않았을 경우 버튼 목록 -->
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:signup' %}">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">로그인</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>